In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/mtcars.csv")
df.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

### 문제1) mpg 변수의 제1사분위수를 구하고 반올림하여 정수값으로 출력하시오.

In [ ]:
df = pd.read_csv("/content/mtcars.csv")
Q1 = df['mpg'].quantile(0.25)
round(Q1)

15

### 문제2) mpg 값이 19이상 21이하인 데이터의 수를 구하시오.

In [ ]:
df = pd.read_csv("/content/mtcars.csv")
len(df[(df['mpg'] >= 19) & (df['mpg'] <= 21)])

5

### 문제3) hp 변수의 IQR 값을 구하시오.

In [ ]:
df = pd.read_csv("/content/mtcars.csv")
Q1 = df['hp'].quantile(0.25)
Q3 = df['hp'].quantile(0.75)
IQR = (Q3 - Q1)
IQR

83.5

### 문제4) wt 변수의 상위 10개 값의 총합을 구하여 소수점을 버리고 정수로 출력하시오.

In [ ]:
df = pd.read_csv("/content/mtcars.csv")
wt_sort = df['wt'].sort_values(ascending=False)
int(sum(wt_sort.head(10)))

42

### 문제5) 전체 자동차에서 cyl가 6인 비율이 얼마인지 반올림하여 소수점 첫째자리까지 출력하시오.

In [ ]:
df = pd.read_csv("/content/mtcars.csv")
round(len(df[df['cyl'] == 6]) / len(df), 1)

0.2

### 문제6) 첫 번째 행부터 순서대로 10개 뽑은 후 mpg 열의 평균값을 반올림하여 정수로 출력하시오.

In [ ]:
df = pd.read_csv("/content/mtcars.csv")
top_10 = df.head(10)
round(top_10['mpg'].mean())

20

### 문제7) 첫 번째 행부터 순서대로 50%까지 데이터를 뽑아 wt 변수의 중앙값을 구하시오.

In [ ]:
df = pd.read_csv("/content/mtcars.csv")
half = int(len(df) * 0.5)
half_df = df[:half]
print(half_df['wt'].median())

3.44

### 문제8) 결측값이 있는 데이터의 수를 출력하시오.

In [ ]:
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

sum(df.isnull().sum())

5

### 문제9) '판매수' 컬럼의 결측값을 판매수의 중앙값으로 대체하고 <br/> 판매수의 평균값을 반올림하여 정수로 출력하시오.

In [ ]:
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

med_panme = df['판매수'].median()
df['판매수'] = df['판매수'].fillna(med_panme)
round(df['판매수'].mean())

15

### 문제10) 판매수 컬럼에 결측치가 있는 행을 제거하고, <br/> 첫번째 행부터 순서대로 50%까지의 데이터를 추출하여 <br/> 판매수 변수의 Q1(1사분위수)값을 반올림하여 정수로 출력하시오.

In [ ]:
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df = df['판매수'].dropna()
half = int(len(df) * 0.5)
half_df = df[:half]
round(half_df.quantile(0.25))

5

### 문제11) cyl가 4인 자동차와 6인 자동차 그룹의 mpg 평균값 차이를 절대값으로 반올림하여 정수로 출력하시오.

In [ ]:
df = pd.read_csv("/content/mtcars.csv")

cyl_4 = df[df['cyl'] == 4]
cyl_6 = df[df['cyl'] == 6]
cyl4_mean = cyl_4['mpg'].mean()
cyl6_mean = cyl_6['mpg'].mean()
round(abs(cyl4_mean - cyl6_mean))

7

### 문제12) hp변수에 대해 데이터표준화(Z-score)를 진행하고 이상치의 수를 구하시오. <br/> 단, 이상치는 Z값이 1.5를 초과하거나 -1.5 미만인 값이다.

In [ ]:
df = pd.read_csv("/content/mtcars.csv")

# Z-score: X-평균 / 표준편차
df['zScore'] = (df['hp'] - df['hp'].mean()) / df['hp'].std()
len(df[(df['zScore'] > 1.5) | (df['zScore'] < -1.5)])

2

### 문제13) mpg 컬럼을 최소최대 Scailing을 진행한 후 0.7보다 큰 값을 가지는 레코드 수를 구하라.

In [ ]:
df = pd.read_csv("/content/mtcars.csv")

# Scailing: X-min / max - min
df['mpg'] = (df['mpg'] - df['mpg'].min()) / (df['mpg'].max() - df['mpg'].min())
len(df[df['mpg'] > 0.7])

5

### 문제14) wt컬럼에 대해 상자그림 기준으로 이상치의 개수를 구하시오.

In [ ]:
df = pd.read_csv("/content/mtcars.csv")

Q3 = df['wt'].quantile(0.75)
Q1 = df['wt'].quantile(0.25)
IQR = Q3 - Q1

max_upper = Q3 + (IQR * 1.5)
min_lower = Q1 - (IQR * 1.5)

len(df[(df['wt'] > max_upper) | (df['wt'] < min_lower)])

3

### 문제15) 판매수 컬럼의 결측치를 최소값으로 대체하고 결측치가 있을 때와 최소값으로 대체했을 때 평균값의 차이를 절대값으로 반올림화여 정수로 출력하시오.

In [ ]:
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', None,'20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', None, 'B', 'A', None,'A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, None, 5, 10, 10, 10, 15, 15, 20, None, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

df1 = df.copy()
df1 = df1.fillna(df1['판매수'].min())

round(abs(df['판매수'].mean() - df1['판매수'].mean()))

2

### 문제16) vs변수가 0이 아닌 차량 중에 mpg값이 가장 큰 차량의 hp 값을 출력하시오.

In [ ]:
df = pd.read_csv("/content/mtcars.csv")
df = df[df['vs'] != 0]
# df[df['mpg'] == not_vs_0['mpg'].max()]['hp'].values[0]

# 풀이
df = df.sort_values('mpg', ascending=False)
df['hp'].iloc[0]
df

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
25,Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
20,Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4

### 문제17) gear 변수값이 3, 4인 두 그룹의 hp표준편차값의 차이를 절대값으로 반올림하여 소수점 첫째자리까지 출력하시오.

In [ ]:
df = pd.read_csv("/content/mtcars.csv")

### 문제18) gear변수의 값별로 그룹화하여 mpg평균값을 산출하고 평균값이 높은 그룹의 mpg 제3사분위수 값을 구하시오.

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/mtcars.csv")
df2 = df.groupby('gear').mean() # 4가 가장 높음

gear4 = df[df['gear']==4]
gear4['mpg'].quantile(0.75)

<ipython-input-33-909a3d5652d6>:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df2 = df.groupby('gear').mean() # 4가 가장 높음

28.075

### 문제19) hp 항목의 상위 7번째 값으로 상위 7개 값을 변환한 후, hp가 150 이상인 데이터를 추출하여 hp의 평균값을 반올림하여 정수로 출력하시오.

In [ ]:
df = pd.read_csv("/content/mtcars.csv")

a = df.sort_values('hp',ascending=False).head(10)
a.iloc[:7]

aaa
                    car   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0

    gear  carb
30     5     8
28     5     4
6      3     4
23     3     4
16     3     4
15     3     4
14     3     4
13     3     3
11     3     3
12     3     3
bbb
                    car   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0

    gear  carb
30     5     8
28     5     4
6      3     4
23     3     4
16     3     4
15     3     4
14     3     4

### 문제20) car변수에 Merc 문구가 포함된 자동차의 mpg평균값을 반올림하여 정수로 출력하시오.

In [ ]:
df = pd.read_csv("/content/mtcars.csv")

### 문제21) 22년 1분기 매출액을 구하시오 <br/> 매출액 = 판매수 * 개당수익

In [ ]:
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

### 문제22) 22년과 23년의 총 매출액 차이를 절대값으로 구하시오.

In [ ]:
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

### 문제23) 23년 총 매출액이 큰 제품의 23년 판매수를 구하시오.

In [ ]:
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

### 문제24) 매출액이 4천원 초과, 1만원 미만인 데이터의 수를 출력하시오.

In [ ]:
df = pd.DataFrame( {
    '날짜': ['20220103','20220105', '20230105','20230127','20220203', '20220205','20230210','20230223','20230312','20230422','20220505','20230511'],
    '제품' : ['A','B', 'A', 'B', 'A', 'B','A', 'B', 'A', 'B', 'A', 'A'],
    '판매수': [3, 5, 5, 10, 10, 10, 15, 15, 20, 25, 30, 40],
    '개당수익': [300, 400, 500, 600, 400, 500, 500, 600, 600, 700, 600, 600] })

### 문제25) 23년 9월 24일 16:00~22:00 사이에 전체 제품의 판매수를 구하시오.

In [ ]:
# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]

### 문제26) 9월 25일 00:00~12:00 까지의 B물품의 매출액 총합을 구하시오.

In [ ]:
# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]

### 문제27) 9월 24일 12:00~24:00 까지의 A물품의 매출액 총합을 구하시오.

In [ ]:
# 시간 데이터 만들기(수정금지)
df = pd.DataFrame( {
    '물품' : ['A', 'B', 'A', 'B', 'A', 'B', 'A'],
    '판매수': [5, 10, 15, 15, 20, 25, 40],
    '개당수익': [500, 600, 500, 600, 600, 700, 600] })
time = pd.date_range('2023-09-24 12:25:00','2023-09-25 14:45:30', periods= 7)
df['time']=time
df = df[ ['time','물품','판매수','개당수익']]